body {
    font-family: "Courier New";
    color: #ffffff;
    background-color: rgb(50, 0, 50);
}
a:link {
    color: rgb(0, 255, 200);
}
a:hover {
    font-size: 125%;
}
a:visited {
    color: rgb(255, 200, 200);
}
header {
    background-color: rgb(50, 50, 150);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    height: 165px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.lefthead {
    position: absolute;
    left: 65px;
    top: 50px;
}
.righthead {
    position: absolute;
    text-align: right;
    right: 30px;
    top: 15px;
}
.name {
    position: relative;
    font-size: 200%; 
}
.menu {
    position: relative;
    top: 5px;
}
